
 html{
        background: url(../images/background.jpg) repeat;
        min-width: 550px;
}

@font-face{
font-family: harryP;
src: url(HARRYP__.TTF);
}

body{
        max-width: 750px;
        margin: 20px auto;      
}

header{
        width: 100%;
        height: 150px;
        background: url(../images/header.jpg) no-repeat;
        background-size: cover;
        background-position: center;    
}

header a{
        font-family: harryP;
        display: block;
        float: right;   
        color: #c5a87e;
        font-size: 75px;
        margin-top: 75px;
        margin-right: 20px;
        margin-bottom: 0;
        opacity:0.75;
}

.main{  
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -o-box-sizing:border-box;
        border: black 1px solid;
        background: url(../images/opacity.png) repeat;
        overflow: hidden;
        width: 100%;
        margin-top: 0;
        padding-top: 0;
}

h3{
        font-family: harryP;
        font-size: 50px; 
        font-weight: bolder;
        margin: 20px;
        display: block; 
}

 /***********************************************/
 /**************INDEX/LOGIN PAGE****************/
 /**********************************************/

#login{
        display: block;
        margin: 0 auto;
        width: 300px;
        text-align: right;
}
#login p{
        display: inline-block;
        margin: 0;
        font-size: 14px;
}
#login a{
        font-size: 14px;
        display:inline-block;
        margin: 0;
}
#login a:hover{
        text-decoration: underline;     
}

#createProfile,
#loginForm{
        width: 250px;
        margin: 20px auto;
        padding: 0 25px 50px;
        clear: both;
}

input{
        display: block; 
        margin-bottom: 10px;
}

img#imgPrev{
        display: block;
        margin: 0 auto;
}
input#submit, input.login{
        float: right;
        margin-top: 10px;       
}

label#note{
        margin-bottom: 10px;
        display: block;
        font-size: 10px;
        color: #634112;
}
 /****************************************/
 /**************PROFILE PAGE**************/
 /****************************************/
#delete, #viewProf{
           background:none;
     border:none; 
     padding:0;
     float: right;
     cursor: pointer;
     color: #634112;
     margin-top: 20px;
     margin-right: 15px;
     font-weight: bold;
     font-family:"Times New Roman", Times, serif;
     font-size: 16px;
}
#delete:hover, 
#viewProf:hover,
#continue:hover{
          text-decoration: underline;
}

.logout{
        margin: 20px 25px 0 0;
        clear: none;
}
.logout:hover{
        text-decoration: underline;
}
#edit{
        float: right;
        margin-right: 150px;
        margin-bottom: 25px;
}
#continue{
           background:none;
     border:none; 
     padding:0;
     cursor: pointer;
     color: #634112;
     font-weight: bold;
     font-family:"Times New Roman", Times, serif;
     font-size: 16px;    
     margin-left: 25px;
}

#editForm{
        width: 250px;
        margin: 0 auto;
}

#editForm input,
#editForm h5{
        display: inline-block;
} 

#editForm #saveEdit{
        float: right;
        margin-bottom: 50px;
}

#sorted{
        float: right;
        margin: 10px 10px 10px 0;
        clear:both;
}
#sorted:hover{
        text-decoration: underline;
}

 /****************************************/
 /**************QUIZ PAGE*****************/
 /****************************************/
 
#questionForm{
        margin: 20px auto 50px;
        width: 400px;   
} 
 
#next{
        display: block;
        margin: 0 auto;
} 
#status{
        display: block;
        float: right;
        color: #634112;
        opacity: 0.6;
        margin-right: 20px;
}

#questionForm label{ 
        display: inline-block;
}

#questionForm input{
        display: inline-block;  
}

input#results, 
input#saveSubmit,
input#hiddenSubmit{
        display: none;
}

#save{
        float: right;
        margin: 0 50px 25px 0;

}


 /****************************************/
 /**************RESULTS PAGE**************/
 /****************************************/
img#house_crest{
        display: block;
        margin: 20px auto;
        clear: both;
}

h4{
        display: block;
        text-align: center;
        margin: 30px auto;
        font-family: harryP;
        font-size: 40px; 
        font-weight: bolder;
}

h5{
        display: block;
        text-align: center;
        margin: 20px auto;
        font-family: harryP;
        font-size: 30px; 
        font-weight: bolder;
}

 p#results{
                display: block;
                display: block;
                text-align: center;
                margin: 10px auto;
                font-family: harryP;
                font-size: 20px; 
                font-weight: bolder;
 }

a{
        margin: 50px 10px 20px 0;
        text-decoration: none;
        float: right;
        color: #634112;
        font-weight: bold;
}



 /****************************************/
 /**************HOUSES PAGE***************/
 /****************************************/
.houseCol{
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -o-box-sizing:border-box;
        float: left;
        width: 20%;
        padding-bottom: 100%;
        margin-bottom:-100%;
        border-right: 1px dashed #634112;
}

#muggle{
        border: none;
}


.houseCol img{
        margin: 20px auto;
        display: block;
        width: 90%;
}

.houseCol .user{
        overflow: hidden;
        margin-bottom: 10px;
}

.houseCol .userImg{
        width: 20%;
        height: auto;
        display: inline-block;
        float: left;
        margin-left: 5%;
        margin: 0 auto;
}

.houseCol .nameDiv{
        width: 80%;
        float: left;
        text-align: center;
}
.houseCol .userName{
        font-weight: bold;
        color: #634112;
        margin: 0 auto;
}

.houseCol #flag{
        background-color: transparent;
        text-decoration: none;
        border: none;
        font-size: 8px;
        float: right;
        color: #634112;
        cursor: pointer;
}

.houseCol #flag:hover{
        text-decoration: underline;
}
